In [ ]:
import numpy as np

1. Initialize an empty array with size 2X2.

In [ ]:
np.zeros((2, 2))

array([[0., 0.],
       [0., 0.]])

2. Initialize an all one array with size 4X2.

In [ ]:
np.ones((4,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

3. Return a new array of given shape and type, filled with fill value.{Hint: np.full}

In [ ]:
np.full((2, 3), 5)

array([[5, 5, 5],
       [5, 5, 5]])

4. Return a new array of zeros with same shape and type as a given array.{Hint: np.zeros like}

In [ ]:
np.zeros_like((2,2),dtype=float)

array([0., 0.])

5. Return a new array of ones with same shape and type as a given array.{Hint: np.ones like}

In [ ]:
np.ones_like((2,2),dtype=float)

array([1., 1.])

6. For an existing list new_list = [1,2,3,4] convert to an numpy array.{Hint: np.array()}

In [ ]:
new_list = [1,2,3,4]
np.array(new_list)

array([1, 2, 3, 4])

Problem - 2: Array Manipulation: Numerical Ranges and Array indexing:

1. Create an array with values ranging from 10 to 49. {Hint:np.arrange()}.

In [ ]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

2.Create a 3X3 matrix with values ranging from 0 to 8.
{Hint:look for np.reshape()}

In [ ]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

3.Create a 3X3 identity matrix.{Hint:np.eye()}

In [ ]:
np.eye(3,3) #creates one diagonal and zeros elsewhere

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

4. Create a random array of size 30 and find the mean of the array.
{Hint:check for np.random.random() and array.mean() function}

In [ ]:
array =np.random.random(30)
array.mean()

np.float64(0.49466380094498563)

5. Create a 10X10 array with random values and find the minimum and maximum values.

In [ ]:
array = np.random.random((10, 10))
print(array)
print("Min:", array.min())
print("Max:", array.max())

[[7.95006913e-01 3.54002406e-02 7.84935325e-01 9.20523446e-01
  9.21248102e-01 6.40694201e-01 8.26802495e-04 9.81335765e-01
  3.94230707e-01 2.22106907e-02]
 [7.38433659e-01 2.19783000e-01 6.44194486e-01 7.84028560e-01
  9.57722397e-01 8.68026129e-01 6.36977452e-01 3.80470466e-03
  3.42879479e-01 2.77000944e-01]
 [2.67844316e-01 6.47235460e-01 2.84041943e-01 2.98682869e-02
  9.07996810e-01 1.66554268e-01 1.32545657e-03 5.07850346e-01
  8.97309738e-01 3.95400870e-02]
 [4.82466211e-01 1.61487262e-01 7.97021818e-01 8.07144628e-01
  6.17659265e-01 7.31826246e-01 4.36501045e-01 4.69586699e-01
  7.72338692e-01 5.09249477e-01]
 [1.34837328e-02 7.24824336e-01 5.85800089e-01 8.37954959e-03
  1.99933782e-01 2.29942550e-01 8.45332523e-01 1.85396486e-01
  4.43108620e-01 6.51371697e-01]
 [3.83480641e-01 8.97667148e-01 2.25669661e-01 6.24982039e-01
  6.32156171e-01 5.30145648e-01 7.36355326e-01 8.87152894e-02
  6.38229176e-01 9.31675363e-01]
 [7.89557659e-02 3.64602390e-01 1.76612299e-01 8.84614670e-01
  2.13904793e-01 8.91913265e-01 3.17091457e-01 1.02261226e-01
  3.46685287e-01 7.14466391e-01]
 [1.38001104e-01 9.49825491e-01 6.02931497e-01 4.74156084e-01
  4.09272087e-01 6.08682226e-01 4.77544821e-01 4.27768713e-01
  5.96956491e-01 7.42165189e-01]
 [9.65725057e-02 2.65422516e-01 5.36407724e-02 1.05568803e-01
  7.98052417e-01 9.15897516e-01 8.62335816e-01 4.56499488e-01
  9.83333114e-01 9.30452342e-01]
 [6.96683940e-01 1.22500023e-01 2.83578676e-01 3.14446871e-01
  5.74041760e-02 6.36798563e-01 4.16270722e-01 3.25780623e-01
  1.92717351e-01 6.41497211e-01]]
Min: 0.0008268024951021413
Max: 0.9833331140269286

6. Create a zero array of size 10 and replace 5th element with 1.

In [ ]:
array = np.zeros(10)
array[4] = 1
print(array)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

7. Reverse an array arr = [1,2,0,0,4,0].

In [ ]:
arr = [1,2,0,0,4,0]
arr.reverse()
print(arr)

[0, 4, 0, 0, 2, 1]

8. Create a 2d array with 1 on border and 0 inside.

In [ ]:
arr = np.zeros((5, 5), dtype=int)

arr[0, :] = 1    # First row
arr[-1, :] = 1   # Last row

arr[:, 0] = 1    # First column
arr[:, -1] = 1   # Last column
print(arr)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

9. Create a 8X8 matrix and fill it with a checkerboard pattern.

In [ ]:
matrix = np.zeros((8,8),dtype = int)
matrix[0:8:2 ,0:8:2] = 1
matrix[1:8:2 ,1:8:2] = 1
print(matrix)

[[1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]]

For the following arrays:
x = np.array([[1,2],[3,5]]) and y = np.array([[5,6],[7,8]]);
v = np.array([9,10]) and w = np.array([11,12]);

1. Add the two array.

In [ ]:
x = np.array([[1,2],[3,5]])
y = np.array([[5,6],[7,8]])
np.add(x,y)

array([[ 6,  8],
       [10, 13]])

2. Subtract the two array.

In [ ]:
x = np.array([[1,2],[3,5]])
y = np.array([[5,6],[7,8]])
np.subtract(x,y)

array([[-4, -4],
       [-4, -3]])

3. Multiply the array with any integers of your choice.

In [ ]:
x = np.array([[1,2],[3,5]])
y = np.array([[5,6],[7,8]])
np.multiply(x,y)

4. Find the square of each element of the array.

In [ ]:
x = np.array([[1,2],[3,5]])
y = np.array([[5,6],[7,8]])
r1 = np.square(x)
r2 = np.square(y)
print(r1)
print(r2)

[[ 1  4]
 [ 9 25]]
[[25 36]
 [49 64]]

5. Find the dot product between: v(and)w ; x(and)v ; x(and)y.

In [ ]:
x = np.array([[1,2],[3,5]])
y = np.array([[5,6],[7,8]])
v = np.array([9,10])
w = np.array([11,12])
r1 = np.dot(v,w)
r2 = np.dot(x,v)
r3 = np.dot(x,y)
print(r1)
print(r2)
print(r3)

219
[29 77]
[[19 22]
 [50 58]]

6. Concatenate x(and)y along row and Concatenate v(and)w along column.
{Hint:try np.concatenate() or np.vstack() functions.

In [ ]:
x = np.array([[1,2],[3,5]])
y = np.array([[5,6],[7,8]])

v = np.array([9,10])
w = np.array([11,12])
xy = np.concatenate((x,y))
print(xy)
vw = np.concatenate((v,w))
print(vw)

[[1 2]
 [3 5]
 [5 6]
 [7 8]]
[ 9 10 11 12]

7. Concatenate x(and)v; if you get an error, observe and explain why did you get the error?


--> The given error states that the input array must have same number of dimensions, x and v has different dimensions. To concatenate x and v we must have same dimensional shape, the error occured of x having 2 dimensional shape and v 1 dimensional shape.

In [ ]:
x = np.array([[1,2],[3,5]]) #2 dimensional shape
v = np.array([9,10]) # 1 dimensional shape
np.concatenate((x,v)) # both x and v must have same shape to concatenate.

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

Problem - 4: Matrix Operations:
• For the following arrays:
A = np.array([[3,4],[7,8]]) and B = np.array([[5,3],[2,1]]);
Prove following with Numpy:

In [ ]:
A = np.array([[3, 4],
              [7, 8]])
B = np.array([[5, 3],
              [2, 1]])

1. Prove A.A−1 = I.

In [ ]:
A = np.array([[3, 4],
              [7, 8]])
np.linalg.inv(A)

array([[-2.  ,  1.  ],
       [ 1.75, -0.75]])

2. Prove AB ̸= BA.

In [ ]:
np.dot(A, B), np.dot(B, A)

(array([[23, 13],
        [51, 29]]),
 array([[36, 44],
        [13, 16]]))

3. Prove (AB)

T = BTAT
.

In [ ]:
np.dot(A, B).T, np.dot(B.T, A.T)

(array([[23, 51],
        [13, 29]]),
 array([[23, 51],
        [13, 29]]))

• Solve the following system of Linear equation using Inverse Methods.

2x − 3y + z = −1
x − y + 2z = −3
3x + y − z = 9

In [ ]:
np.linalg.inv(np.array([[2, -3, 1], [1, -1, 2], [3, 1, -1]])).dot(np.array([-1, -3, 9]))

array([ 2.,  1., -2.])